argcomplete==3.2.1
CacheControl==0.13.1
certifi==2023.11.17
charset-normalizer==3.3.2
coloredlogs==15.0.1
cwl-upgrader==1.2.11
cwl-utils==0.32
cwlref-runner==1.0
cwltool==3.1.20231207110929
filelock==3.13.1
humanfriendly==10.0
idna==3.6
isodate==0.6.1
lxml==4.9.4
mistune==2.0.5
msgpack==1.0.7
mypy-extensions==1.0.0
networkx==3.2.1
packaging==23.2
prov==1.5.1
psutil==5.9.7
pydot==1.4.2
pyparsing==3.1.1
python-dateutil==2.8.2
rdflib==7.0.0
requests==2.31.0
ruamel.yaml==0.18.5
ruamel.yaml.clib==0.2.8
schema-salad==8.5.20231201181309
shellescape==3.8.1
six==1.16.0
spython==0.3.13
urllib3==2.1.0
